.nav {
    font-weight: 400;
}

.nav.main-nav {
    color: #FFF;
    z-index: 300;
}

.nav.main-nav,.nav.main-nav .center {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background-color: transparent;
    overflow: visible;
}

.nav.main-nav .center {
    z-index: 1;
}

.nav ul {
    margin: 0;
}

.nav li {
    margin-bottom: 0;
    border-bottom: .125em solid #2C2C33;
    list-style: none;
    position: relative;
}

.nav li:first-child {
    border-top: .125em solid #2C2C33;
}

.nav a {
    min-height: 2em;
    margin-right: 2em;
    padding: .5em .75em .5em 0;
    border-bottom: none;
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
    line-height: 1em;
    display: block;
    -webkit-transition: padding-left,padding-right,background-color,color;
    -moz-transition: padding-left,padding-right,background-color,color;
    -o-transition: padding-left,padding-right,background-color,color;
    transition: padding-left,padding-right,background-color,color;
    -webkit-transition-duration: 250ms,250ms,250ms,250ms;
    -moz-transition-duration: 250ms,250ms,250ms,250ms;
    -o-transition-duration: 250ms,250ms,250ms,250ms;
    transition-duration: 250ms,250ms,250ms,250ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out;
    -moz-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out;
    -o-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out;
    transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out;
}

.nav a:hover {
    padding-right: 0;
    padding-left: .75em;
    background-color: #2C2C33;
}

.nav a,.nav a button {
    -webkit-text-shadow: none !important;
    -moz-text-shadow: none !important;
    -ms-text-shadow: none !important;
    -o-text-shadow: none !important;
    text-shadow: none !important;
}

.nav .hamburger {
    height: auto;
    width: 4em;
    margin: 0;
    padding: 1em 2em 1em 1em;
    border-bottom: none;
    position: fixed;
    z-index: 0;
    top: 0;
    right: -1em;
    background-color: rgba(180,178,173,.5);
    text-align: center;
    line-height: 1em;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    visibility: visible;
    -webkit-transition: width,padding-right,right,background-color,color,visibility;
    -moz-transition: width,padding-right,right,background-color,color,visibility;
    -o-transition: width,padding-right,right,background-color,color,visibility;
    transition: width,padding-right,right,background-color,color,visibility;
    -webkit-transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    -moz-transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    -o-transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    -webkit-transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .nav .hamburger {
        background-color: rgba(180,178,173,.5);
        color: rgba(0,0,0,.5);
    }
}

.nav .hamburger:hover {
    width: 4.5em;
    padding: 1em 2.5em 1em 1em;
    background-color: #000;
    color: #fff;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
}

.nav .hamburger .fa {
    width: 1em;
    display: block;
}

.nav .french-fries {
    width: 0;
    position: fixed;
    top: 3.5em;
    right: 0;
    z-index: 300;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: width,right,visibility;
    -moz-transition: width,right,visibility;
    -o-transition: width,right,visibility;
    transition: width,right,visibility;
    -webkit-transition-duration: 0ms,0ms,0ms;
    -moz-transition-duration: 0ms,0ms,0ms;
    -o-transition-duration: 0ms,0ms,0ms;
    transition-duration: 0ms,0ms,0ms;
    -webkit-transition-delay: 0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,0ms;
    transition-delay: 0ms,0ms,0ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,linear;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .nav .french-fries {
        -webkit-transition-duration: 375ms,375ms,0ms;
        -moz-transition-duration: 375ms,375ms,0ms;
        -o-transition-duration: 375ms,375ms,0ms;
        transition-duration: 375ms,375ms,0ms;
        -webkit-transition-delay: 0ms,0ms,375ms;
        -moz-transition-delay: 0ms,0ms,375ms;
        -o-transition-delay: 0ms,0ms,375ms;
        transition-delay: 0ms,0ms,375ms;
    }
}

@media only screen and (min-width:81em) and (min-height:48em) {
    .nav .french-fries {
        top: 4.5em;
    }
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .nav .french-fries {
        top: 6em;
    }
}

.nav .french-fries.tablist a {
    background-color: rgba(0,0,0,.7);
}

.nav .french-fries.tablist a:hover {
    background-color: #000;
}

.nav .french-fries.actions {
    top: 12.45em;
    padding-left: 3em;
}

@media only screen and (min-width:81em) and (min-height:48em) {
    .nav .french-fries.actions {
        top: 13.5em;
    }
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .nav .french-fries.actions {
        top: 16.5em;
    }
}

.nav .french-fries.actions a {
    margin: .71429em 0;
    padding: .71429em 1.07143em;
    background-color: #005EB8;
    font-size: .7em;
    line-height: 1.42857em;
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .nav .french-fries.actions a {
        margin: .625em 0;
        padding: .625em .9375em;
        font-size: .8em;
        line-height: 1.25em;
    }
}

.nav .french-fries li {
    border-top: none;
    border-bottom: none;
}

.nav .french-fries li[aria-selected=true] a {
    background-color: #000;
    color: #FFF;
}

.nav .french-fries a {
    width: 95%;
    margin: .625em 0;
    padding: .9375em;
    border-bottom: none;
    position: relative;
    top: 0;
    right: -5%;
    z-index: 0;
    font-size: .8em;
    line-height: 1.25em;
    color: rgba(255,255,255,.8);
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    -webkit-transition: width,right,background-color,color;
    -moz-transition: width,right,background-color,color;
    -o-transition: width,right,background-color,color;
    transition: width,right,background-color,color;
    -webkit-transition-duration: 250ms,250ms,250ms,250ms;
    -moz-transition-duration: 250ms,250ms,250ms,250ms;
    -o-transition-duration: 250ms,250ms,250ms,250ms;
    transition-duration: 250ms,250ms,250ms,250ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .nav .french-fries a {
        margin: .5em 0;
        padding: 1em;
        font-size: 1em;
        line-height: 1em;
    }
}

.nav .french-fries a:hover {
    width: 100%;
    right: 0;
    color: #FFF;
}

.nav .french-fries a:first-child {
    margin-top: .625em;
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .nav .french-fries a:first-child {
        margin-top: .5em;
    }
}

.nav .french-fries a .fa {
    width: 1em;
    margin-right: .5em;
    font-size: 1.25em;
    text-align: center;
    display: block;
    float: left;
}

@media only screen and (min-width:108em) {
    .nav .french-fries a .fa {
        font-size: 1em;
    }
}

.nav .site-tree {
    padding-bottom: 1em;
}

.nav .toggle-section {
    width: 2em;
    height: 2em;
    margin: 0;
    padding: .5em !important;
    float: right;
    background-color: rgba(44,44,51,.5);
    color: #7E7E7C;
    text-align: center;
    -webkit-transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
    cursor: pointer;
}

.nav .toggle-section:hover {
    background-color: #2c2c33;
    color: #FFF;
}

.nav .toggle-section .fa {
    display: block;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .nav .search-box {
        margin-bottom: 1.5em;
    }
}

.nav .search-box form {
    width: 100%;
    background-color: #2C2C33;
}

.nav .search-box input {
    border-color: #2C2C33;
    color: #000;
}

.nav .search-box button {
    background-color: #2C2C33;
    border-color: #2C2C33;
}

.nav .search-box button:hover {
    background-color: #005EB8;
}

.nav .ga-suggestion-set:last-child {
    margin: 0;
}

.nav .ga-suggestion-set a:hover {
    color: #E5E2E0;
}

.nav .ga-suggestion-set a:hover strong {
    color: #FFF;
}

.nav .ga-suggestion-set a strong {
    font-weight: 700;
    color: #E5E2E0;
    -webkit-transition: color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
}

.nav .ga-suggestion-set,.nav .hub-articles,.nav .hub-events,.nav .tier-2,.nav .tier-3 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav .ga-suggestion-set a,.nav .hub-articles a,.nav .hub-events a,.nav .tier-2 a,.nav .tier-3 a {
    margin: 0;
    color: #B4B2AD;
}

.nav .more a,.nav .tier-2 a,.nav .tier-3 a {
    padding-top: .75em;
    padding-right: .9375em;
    padding-bottom: .75em;
    font-size: .8em;
}

.nav .more a:hover,.nav .tier-2 a:hover,.nav .tier-3 a:hover {
    padding-left: .9375em;
    padding-right: 0;
    color: #FFF;
}

.nav .tier-2,.nav .tier-3 {
    padding-left: 1em;
}

.nav .tier-2 li:last-child,.nav .tier-3 li:last-child {
    border-bottom: none;
}

.nav .tier-3 {
    display: none;
}

.nav .hub-articles h4,.nav .hub-events h4 {
    margin: 0;
}

.nav .hub-articles h4 a,.nav .hub-events h4 a {
    min-height: 1.6em;
    padding-top: .3em;
    padding-bottom: .3em;
    color: #fff;
}

.nav .hub-articles h4 a:hover,.nav .hub-events h4 a:hover {
    padding-left: .6em;
    color: #FFF;
}

.nav .hub-articles.content-loading .more,.nav .hub-events.content-loading .more {
    display: none;
}

.nav .hub-events {
    margin-top: 2em;
}

.nav .hub-article,.nav .hub-event {
    border-top: .125em solid #2C2C33;
}

.nav .hub-article:last-child,.nav .hub-event:last-child {
    border-bottom: .125em solid #2C2C33;
}

.nav .media {
    padding-right: 1.5em;
    color: #E5E2E0;
}

.nav .media:hover {
    padding-right: .75em;
    color: #FFF;
}

.nav .media-heading {
    margin-bottom: 0;
    font-size: .8em;
}

.nav .date {
    margin: .20833em 0 0;
    font-size: .6em;
    line-height: 1.33333em;
    color: #7E7E7C;
}

.nav .utility-links {
    padding: 0;
}

.nav .utility-links li {
    border: none;
}

.nav .utility-links a {
    margin-right: 0;
    display: inline-block;
    font-size: .8em;
    line-height: 1.25em;
    color: #B4B2AD;
}

.nav .utility-links a:hover {
    color: #FFF;
    background-color: transparent;
}

.nav #menu,.nav #search {
    height: 0;
    min-height: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.tabpanel-set {
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabpanel-set,.tabpanel-set .social-links {
    width: 100%;
    position: fixed;
    right: -133.33333%;
    bottom: 0;
    z-index: 100;
    visibility: hidden;
    -webkit-transition: width,right,visibility;
    -moz-transition: width,right,visibility;
    -o-transition: width,right,visibility;
    transition: width,right,visibility;
    -webkit-transition-duration: 375ms,375ms,0ms;
    -moz-transition-duration: 375ms,375ms,0ms;
    -o-transition-duration: 375ms,375ms,0ms;
    transition-duration: 375ms,375ms,0ms;
    -webkit-transition-delay: 0ms,0ms,375ms;
    -moz-transition-delay: 0ms,0ms,375ms;
    -o-transition-delay: 0ms,0ms,375ms;
    transition-delay: 0ms,0ms,375ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .tabpanel-set,.tabpanel-set .social-links {
        width: 21em;
        right: -28em;
    }
}

.tabpanel-set .social-links {
    padding: .75em 0;
    border-top: solid .125em #2C2C33;
    right: -100%;
    background-color: #000;
    text-align: center;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .tabpanel-set .social-links {
        right: -21em;
    }
}

.tabpanel-set .social-links a {
    min-height: 0;
}

.tabpanel-set .close-box-x {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #000;
    color: #E5E2E0;
    visibility: hidden;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie);
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: background-color,visibility,opacity;
    -moz-transition: background-color,visibility,opacity;
    -o-transition: background-color,visibility,opacity;
    transition: background-color,visibility,opacity;
    -webkit-transition-duration: 250ms,0ms,250ms;
    -moz-transition-duration: 250ms,0ms,250ms;
    -o-transition-duration: 250ms,0ms,250ms;
    transition-duration: 250ms,0ms,250ms;
    -webkit-transition-delay: 0ms,250ms,0ms;
    -moz-transition-delay: 0ms,250ms,0ms;
    -o-transition-delay: 0ms,250ms,0ms;
    transition-delay: 0ms,250ms,0ms;
    -webkit-transition-timing-function: ease-in-out,linear,ease-in-out;
    -moz-transition-timing-function: ease-in-out,linear,ease-in-out;
    -o-transition-timing-function: ease-in-out,linear,ease-in-out;
    transition-timing-function: ease-in-out,linear,ease-in-out;
}

.tabpanel-set .close-box-x:hover {
    margin: 0;
    padding: 0;
    background-color: #2C2C33;
    color: #FFF;
}

.tabpanel {
    width: 100%;
    max-height: none;
    padding: 3em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: visible;
    -webkit-transition: max-height,padding,visibility;
    -moz-transition: max-height,padding,visibility;
    -o-transition: max-height,padding,visibility;
    transition: max-height,padding,visibility;
    -webkit-transition-duration: 0ms,0ms,0ms;
    -moz-transition-duration: 0ms,0ms,0ms;
    -o-transition-duration: 0ms,0ms,0ms;
    transition-duration: 0ms,0ms,0ms;
    -webkit-transition-delay: 375ms,375ms,375ms;
    -moz-transition-delay: 375ms,375ms,375ms;
    -o-transition-delay: 375ms,375ms,375ms;
    transition-delay: 375ms,375ms,375ms;
    -webkit-transition-timing-function: linear,linear,linear;
    -moz-transition-timing-function: linear,linear,linear;
    -o-transition-timing-function: linear,linear,linear;
    transition-timing-function: linear,linear,linear;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .tabpanel {
        width: 21em;
        max-height: 0;
        padding: 0 3em;
        position: absolute;
        visibility: hidden;
        overflow: hidden;
    }

    .tabpanel[aria-expanded=true] {
        max-height: 999999999em;
        padding: 3em;
        z-index: 300;
        visibility: visible;
        overflow: visible;
    }

    .tabpanel[aria-expanded=true] .social-links {
        visibility: visible;
    }
}

.tabpanel .ga-search-suggestions {
    display: none;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .tabpanel .ga-search-suggestions {
        display: block;
    }
}

.tabpanel .tier-2 {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: max-height 250ms ease-in-out,visibility 0 linear;
    -moz-transition: max-height 250ms ease-in-out,visibility 0 linear;
    -o-transition: max-height 250ms ease-in-out,visibility 0 linear;
    transition: max-height 250ms ease-in-out,visibility 0 linear;
    -webkit-transition-delay: 0ms,250ms;
    -moz-transition-delay: 0ms,250ms;
    -o-transition-delay: 0ms,250ms;
    transition-delay: 0ms,250ms;
}

.tabpanel .open>.tier-2 {
    max-height: 50em;
    visibility: visible;
    -webkit-transition-duration: 500ms,0ms;
    -moz-transition-duration: 500ms,0ms;
    -o-transition-duration: 500ms,0ms;
    transition-duration: 500ms,0ms;
    -webkit-transition-delay: 0ms,0ms;
    -moz-transition-delay: 0ms,0ms;
    -o-transition-delay: 0ms,0ms;
    transition-delay: 0ms,0ms;
}


.panel-actions,.panel-menu,.panel-search {
    padding-bottom: 0;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .panel-actions[aria-expanded=true],.panel-menu[aria-expanded=true],.panel-search[aria-expanded=true] {
        padding-bottom: 3em;
    }
}

.calls-to-action li,.panel-actions li {
    margin: 1em 0;
    border: 0 !important;
}

.calls-to-action li:first-child,.panel-actions li:first-child {
    margin-top: 0;
}

.calls-to-action li:last-child,.panel-actions li:last-child {
    margin-bottom: 0;
}

.calls-to-action a,.panel-actions a {
    margin-right: 0;
    padding: .5em .75em;
    border: .25em solid #2C2C33;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: border-color,background-color,color;
    -moz-transition: border-color,background-color,color;
    -o-transition: border-color,background-color,color;
    transition: border-color,background-color,color;
    -webkit-transition-duration: 250ms,250ms,250ms;
    -moz-transition-duration: 250ms,250ms,250ms;
    -o-transition-duration: 250ms,250ms,250ms;
    transition-duration: 250ms,250ms,250ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
    -moz-transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
    -o-transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
    transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
}

.calls-to-action a:hover,.panel-actions a:hover {
    padding-right: .75em;
    border-color: #005EB8;
    background-color: #005EB8;
}

.panel-menu .close-box-x,.panel-newsevents .close-box-x {
    display: none;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .panel-menu .close-box-x,.panel-newsevents .close-box-x {
        display: block;
    }
}

.panel-newsevents[aria-expanded=true] {
    padding-bottom: 6em;
}

.panel-search {
    z-index: 1;
}

.panel-search[aria-expanded=true] {
    padding-top: 3em;
}

.main-nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    z-index: 201;
    background-color: rgba(44,44,51,0);
    -webkit-transition: right,left,background-color;
    -moz-transition: right,left,background-color;
    -o-transition: right,left,background-color;
    transition: right,left,background-color;
    -webkit-transition-duration: 375ms,0ms,375ms;
    -moz-transition-duration: 375ms,0ms,375ms;
    -o-transition-duration: 375ms,0ms,375ms;
    transition-duration: 375ms,0ms,375ms;
    -webkit-transition-timing-function: ease-in-out,linear,ease-in-out;
    -moz-transition-timing-function: ease-in-out,linear,ease-in-out;
    -o-transition-timing-function: ease-in-out,linear,ease-in-out;
    transition-timing-function: ease-in-out,linear,ease-in-out;
    -webkit-transition-delay: 0ms,375ms,0ms;
    -moz-transition-delay: 0ms,375ms,0ms;
    -o-transition-delay: 0ms,375ms,0ms;
    transition-delay: 0ms,375ms,0ms;
}

.home .nav .hamburger,.page-layout_big-header .nav .hamburger {
    background-color: #005EB8;
    color: #FFF;
}

@media only screen and (min-width:36em) and (min-height:36em) {
    .home .nav .hamburger,.page-layout_big-header .nav .hamburger {
        background-color: rgba(180,178,173,.5);
        color: rgba(0,0,0,.5);
        right: -4em;
        visibility: hidden;
        -webkit-transition-delay: 0ms,0ms,0ms,375ms,375ms,375ms;
        -moz-transition-delay: 0ms,0ms,0ms,375ms,375ms,375ms;
        -o-transition-delay: 0ms,0ms,0ms,375ms,375ms,375ms;
        transition-delay: 0ms,0ms,0ms,375ms,375ms,375ms;
        -webkit-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
        -moz-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
        -o-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
        transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
    }
}

.home .nav .hamburger:hover,.page-layout_big-header .nav .hamburger:hover {
    background-color: #000;
    color: #fff;
}

.home .nav .french-fries,.page-layout_big-header .nav .french-fries {
    -webkit-transition-duration: 375ms,375ms,0ms;
    -moz-transition-duration: 375ms,375ms,0ms;
    -o-transition-duration: 375ms,375ms,0ms;
    transition-duration: 375ms,375ms,0ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,linear;
}

@media only screen and (min-width:36em) and (min-height:36em) {
    .home .nav .french-fries,.page-layout_big-header .nav .french-fries {
        width: 10em;
        visibility: visible;
        -webkit-transition-duration: 750ms,375ms,0ms;
        -moz-transition-duration: 750ms,375ms,0ms;
        -o-transition-duration: 750ms,375ms,0ms;
        transition-duration: 750ms,375ms,0ms;
        -webkit-transition-delay: 0ms,0ms,0ms;
        -moz-transition-delay: 0ms,0ms,0ms;
        -o-transition-delay: 0ms,0ms,0ms;
        transition-delay: 0ms,0ms,0ms;
        -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),ease-in-out,linear;
        -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),ease-in-out,linear;
        -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),ease-in-out,linear;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.14),ease-in-out,linear;
    }
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .home .nav .french-fries,.page-layout_big-header .nav .french-fries {
        width: 12.5em;
    }
}

.no-js .nav a {
    margin-right: 0;
}

.no-js .nav li:first-child {
    border-top-width: 0;
}

.no-js .tabpanel-set {
    display: none;
}

.no-js .page-footer .nav {
    padding-bottom: 0;
}

.hide-nav-fries .nav .hamburger {
    right: -1em;
    background-color: rgba(180,178,173,.5);
    color: rgba(0,0,0,.5);
    visibility: visible;
    -webkit-transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    transition-delay: 0ms,0ms,375ms,0ms,0ms,0ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out,linear;
}

.hide-nav-fries .nav .hamburger:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
}

.hide-nav-fries .nav .french-fries {
    width: 0;
    visibility: hidden;
    -webkit-transition-duration: 375ms,375ms,0ms;
    -moz-transition-duration: 375ms,375ms,0ms;
    -o-transition-duration: 375ms,375ms,0ms;
    transition-duration: 375ms,375ms,0ms;
    -webkit-transition-delay: 0ms,0ms,375ms;
    -moz-transition-delay: 0ms,0ms,375ms;
    -o-transition-delay: 0ms,0ms,375ms;
    transition-delay: 0ms,0ms,375ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,linear;
}

.main-nav-open {
    overflow: hidden;
}

.main-nav-open .page-container,.main-nav-open .stuck .sticky {
    left: -100% !important;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .main-nav-open .page-container,.main-nav-open .stuck .sticky {
        left: -21em !important;
    }
}

.main-nav-open .main-nav-overlay {
    right: 100%;
    left: 0;
    background-color: rgba(44,44,51,.9);
    cursor: url(../images/cursor-close-x-85903d1c1e.png),auto;
    -webkit-transition-duration: 750ms,0ms,375ms;
    -moz-transition-duration: 750ms,0ms,375ms;
    -o-transition-duration: 750ms,0ms,375ms;
    transition-duration: 750ms,0ms,375ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
    -webkit-transition-delay: 0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,0ms;
    transition-delay: 0ms,0ms,0ms;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .main-nav-open .main-nav-overlay {
        right: 21em;
    }
}

.main-nav-open .nav .hamburger {
    right: -4em;
    visibility: hidden;
    -webkit-transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    -moz-transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    -o-transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    transition-duration: 250ms,250ms,375ms,250ms,250ms,0ms;
    -webkit-transition-delay: 0ms,0ms,0ms,0ms,0ms,375ms;
    -moz-transition-delay: 0ms,0ms,0ms,0ms,0ms,375ms;
    -o-transition-delay: 0ms,0ms,0ms,0ms,0ms,375ms;
    transition-delay: 0ms,0ms,0ms,0ms,0ms,375ms;
    -webkit-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
    -moz-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
    -o-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
    transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
}

.main-nav-open .nav .french-fries {
    right: 100%;
    -webkit-transition-duration: 625ms,750ms,0ms;
    -moz-transition-duration: 625ms,750ms,0ms;
    -o-transition-duration: 625ms,750ms,0ms;
    transition-duration: 625ms,750ms,0ms;
    -webkit-transition-delay: 0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,0ms;
    transition-delay: 0ms,0ms,0ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .main-nav-open .nav .french-fries {
        width: 10em;
        right: 21em;
        visibility: visible;
    }
}

@media only screen and (min-width:108em) and (min-height:60em) {
    .main-nav-open .nav .french-fries {
        width: 12.5em;
    }
}

.main-nav-open .nav .tabpanel {
    -webkit-transition-delay: 0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,0ms;
    transition-delay: 0ms,0ms,0ms;
}

.main-nav-open .social-links,.main-nav-open .tabpanel-set,.map.modal-open .social-links,.map.modal-open .tabpanel-set {
    right: 0;
    visibility: visible;
    -webkit-transition-duration: 1000ms,1000ms,0ms;
    -moz-transition-duration: 1000ms,1000ms,0ms;
    -o-transition-duration: 1000ms,1000ms,0ms;
    transition-duration: 1000ms,1000ms,0ms;
    -webkit-transition-delay: 0ms,0ms,0ms;
    -moz-transition-delay: 0ms,0ms,0ms;
    -o-transition-delay: 0ms,0ms,0ms;
    transition-delay: 0ms,0ms,0ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),linear;
}

.main-nav-open .social-links,.map.modal-open .social-links {
    -webkit-transition-duration: 750ms,750ms,0ms;
    -moz-transition-duration: 750ms,750ms,0ms;
    -o-transition-duration: 750ms,750ms,0ms;
    transition-duration: 750ms,750ms,0ms;
}

@media only screen and (min-width:36em) and (min-height:24em) {
    .main-nav-open .social-links,.map.modal-open .social-links {
        visibility: hidden;
    }
}

.main-nav-open .tabpanel-set .close-box-x,.map.modal-open .tabpanel-set .close-box-x {
    margin: 0;
    position: fixed;
    visibility: visible;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition-delay: 0ms,0ms,1000ms;
    -moz-transition-delay: 0ms,0ms,1000ms;
    -o-transition-delay: 0ms,0ms,1000ms;
    transition-delay: 0ms,0ms,1000ms;
}