.side-tabs{
    font-family: Gentona,"Myriad Pro",sans-serif;
    top: 10%;
    position: fixed;
    z-index: 10;
    right: 0;
    font-weight: 250;
    transition-duration: 1s;
}

.side-tabs .open a{
    transition: .5s;
    padding-right: 350px !important;
}


.side-tabs ul{
    list-style-type: none;
    
}

.side-tabs li{
    margin-bottom: 0;
    list-style: none;
    position: relative;
    border: none;
    
}

.side-tabs a {
    background-color: rgba(0, 58, 99, 0.83);
    width: 97%;
    padding: 20px;
    border-bottom: none;
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    font-size: .8em;
    line-height: 1.25em;
    color: rgba(255,255,255,.8);
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    letter-spacing: 3px;
    -webkit-transition: width,right,background-color,color;
    -moz-transition: width,right,background-color,color;
    -o-transition: width,right,background-color,color;
    transition: width,right,background-color,color;
    -webkit-transition-duration: 250ms,250ms,250ms,250ms;
    -moz-transition-duration: 250ms,250ms,250ms,250ms;
    -o-transition-duration: 250ms,250ms,250ms,250ms;
    transition-duration: 250ms,250ms,250ms,250ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
}

.side-tabs .main-menu a{
    margin: 10px;
    padding: 17px;
    padding-right: 20px;
}

.side-tabs .main-menu{
    padding-left: 5px;
}

.side-tabs .actions a{
    margin: 7px;
    padding: 12px;
    background-color: #e51937;
    font-size: .7em;
    line-height: 1.42857em;
}

.site-tabs a:hover{
    width: 150%;
    right: 10px;
}

.side-tabs .main-menu a:hover{
    background-color: #003a63;
    color: #fff;
    width: 110%;
    right: 10px;
}

.side-tabs .actions a:hover{
    color: #fff;
    width: 110%;
    right: 10px;
}


.responsive-tab{
    text-transform: uppercase;
    letter-spacing: 2px;
    top:0;
    right: 0;
    position: fixed;
    z-index: 10;
    padding: 15px;
    font-size: 18px;
    background-color: rgba(0, 58, 99, 0.83);  
    display: none;
}

.responsive-tab a{
    color: rgba(255,255,255,.8);
}


.responsive-tab a:hover{
    text-decoration: none;
}

.little-tab{
    transition-duration: 1s;
    text-transform: uppercase;
    letter-spacing: 2px;
    top:0;
    right: -200px;
    position: fixed;
    z-index: 10;
    padding: 15px;
    font-size: 18px;
    background-color: rgba(0, 58, 99, 0.83);
    display: block;
}

.little-tab a{
    color: rgba(255,255,255,.8);
}

.little-tab a:hover{
    text-decoration: none;
    color: white;
}


.responsive-buttons{
    display: none;
}

@media (max-width: 1200px){
    .side-tabs{
        display: none;
    }
    
    .little-tab{
        display: none;
    }
    
    .responsive-tab{
        display: block;
    }
    
     .responsive-buttons{
        display: block;
        padding: 30px;
        margin-bottom: 2px;
    }
    
    .litte-tab{
        display: none!important;
    }
}


/******temp events list*****/
.events-list{
	list-style-type:none;
	margin:0;
}
.events-list li{
	padding-top:22px;
	padding-bottom:26px;
	border-top:1px solid #E8E8E8;
}
.events-list li a:hover strong{
	color:#fff;
}
.events-list li a strong{
	margin-bottom:7px;
	display:block;
	padding-left:65px;
}

.events-list a{
    text-decoration: none;
}
.events-list li:before, .events-list li:after{
	content:"";
	display:table;
}
.events-list li:after{
	clear:both;
}
.events-list li .meta-data{
	display:inline-block;
}
.sidebar-widget .events-list li .meta-data, .footer_widget .events-list li .meta-data{
	display:block;
	padding-left:65px;
}
.event-date{
	float:left;
	width:50px;
	height:60px;
	margin-right:15px;
	text-align:center;
	border:1px solid #E8E8E8;
	margin-top:4px;
	position:relative;
	background:#fff;
}
.event-month{
	border-bottom:1px solid #E8E8E8;
	display:block;
	text-transform:uppercase;
	font-size:12px;
    color: #000;
}
.event-day{
	font-size:20px;
	font-weight:700;
	line-height:35px;
	color:#222;
}
.events-list li .btn-sm{
	float:right;
	margin-top:11px;
    background: #fff;
    color: #000;
}

/******** sidebar for sub pages

.sub-sidebar .nav{
    border-top: 10px #003a63 solid;
    padding: 21px 10px 30px 5px;
    width: 150px;
}
.sub-sidebar .nav > li > a{
    display: inline;
    color: #003a63;
    font-weight: 400;
}

.sub-sidebar .nav > li > a:hover, .sub-sidebar .nav > li > a:focus{
    background: none;
    border-left: 1px solid #003a63;
}

ul.nav.sub-nav a{
    padding: 0px 20px 0px 0px;
    display: inline;
    color: #003a63;
    font-weight: 400;

}

 ***********/

/* sidebar */
.bs-docs-sidebar {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    transition: .1s; 
    font-weight: 100px;
    background: #003a63;
}


.bs-docs-sidebar:hover:after {
	width: 100%;
	background: blue;
}


/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #fff;
    padding: 4px 10px;
    font-size: 17px;
    font-weight: 400;
    transition-duration: .5s;
}

.bs-docs-sidebar .cat a {
    font-weight: bold;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
    color: #abc9ed;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add trasnparent border */
    border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {                 
    background: #005999;
    padding-left: 15px;
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav a, 
.bs-docs-sidebar .nav .nav a:hover>a,
.bs-docs-sidebar .nav .nav a:focus>a {
    font-weight: 200;
    padding-left: 40px;
}

.bs-docs-sidebar .nav .nav>li>a:hover {
    /*add trasnparent border */
    padding-left: 40px;
}

@media (max-width: 600px){
    .bs-docs-sidebar{
        display: none;
    }
}

/*****side nav ******/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    right: -400px; /* menu hidden right - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    width: 350px;
    background-color: #001E32; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;/* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .panel-group{
    margin: 30px;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 20px;
    color: #f2f2f2;
    transition: 0.15s;
}


.sidenav .closebtn:hover {
    color: white;
    font-size: 70px;
    text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#accordion {
    font-family: ‘Open Sans’, ‘Gill Sans’, Calibri, Arial, sans-serif;
}

/* accordion styling */
#accordion .panel-heading { padding: 0;}

#accordion .panel-title > a {
    text-transform: uppercase;
    font-weight: bold;
    background: #001E32;
	display: block;
	padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    border-style: solid;
    border-color:  #003d66;
    border-width: 2px 0px 0px 0px;
    transition: 0.2s
}

#accordion .panel-title > a:hover{
    background:#003d66; 
    padding-left: 20px;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::after  {
    content:"\f146";
    float: right;
    font-family: FontAwesome;
	margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::after  {
    content:"\f196";
}

#accordion .panel-body{
    background:#001E32; 
    padding: 0px;
}

#accordion .panel-body li{
    list-style-type: none;
    padding: 2px;
    border-style: solid;
    border-color:  #003d66;
    border-width: 2px 0px 0px 0px;
    transition: 0.2s
}

#accordion .panel-body li > a{
    color: #abc9ed;
    letter-spacing: 1px;
    text-decoration: none;
    width: inherit;
    display: block;
    font-size: 12px;
}

#accordion .panel-body li:hover{
    padding-left: 20px;
    color: #fff;
    background:#003d66;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-width: 0px;
}

.single-links ul{
    list-style-type: none;
}

.single-links a{
    font-size: .8em;
    line-height: 1.25em;
    color: #abc9ed;
    transition-duration: .2s;
}


.single-links a:hover{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}

.social-links{
    padding: 40px;
}

.social-links a{
    color: #abc9ed;
    padding: 5px;
    text-decoration: none;
}

.social-links a:hover{
    color: #fff;
}
/*-------- search nav --------*/
.sub-nav{
    padding: 20px;
}

.sub-nav h4{
    color: #fff;
}

.sub-nav ul{
    padding-left: 0px;
}


.sub-nav li{
    list-style-type: none;
    padding: 6px 4px 6px 4px;
    border-style: solid;
    border-color:  #003d66;
    border-width: 2px 0px 0px 0px;
    transition: 0.2s;
    width: 300px;
}

.sub-nav li a{
    color: #abc9ed;
    text-decoration: none;
    width: inherit;
    display: block;
    font-size: 16px;
    line-height: 1.5em;
    padding: 3px;
}

.sub-nav li:hover{
    padding-left: 20px;
    color: #fff;
    background:#003d66;
}

.media li{
    padding-top: 12px;
    padding-bottom: 12px;
}

.media li a{
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding: 5px;
}


.media .image{
    width: 20%;
}
.media .headline{
    width: 80%;
}

.media li a img{
    text-align: right;
}

.navInput{
    width: 300px;
    padding: 6px 6px 6px 8px;
    -moz-appearance: none;
	-webkit-appearance: none;
     box-shadow: none; 
	outline: 0;
	margin: 0;
    border: 5px solid #2a6ebb;
}

.faculty-search{
    width: 100%;
    padding: 6px 6px 6px 8px;
    box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.2); 
    border: none;
}



.navSubmit{
    width: 300px;
    border:5px solid #2a6ebb;
    background-color:#2a6ebb;
    color:#fafafa;
    text-transform: uppercase;
    padding:3px 3px;
    letter-spacing: 3px;
}