/*----Section Styling ----*/
.section {
    padding: 150px;
}


.section.red {
    background: #e51937;
    color: #fff;
}

.section.blue{
    background: #001E32;
    color: #fff;
}



.section.white{
    color: #003a63;
}

.section.grey{
    background: #5f6062;
    color: white;
}

#lead{
    font-size: 60px;
    font-weight: 400;
}

#lead:before, #lead:after {
  font-family: "Some cool font with glyphs", serif;
  content: "\";  /* Some fancy character */
  color: #c83f3f;
}

.section  h1{
    margin-bottom: 40px;
}



.section p{
    font-size: 20px;
    font-weight: 100px;
}



.text-red{
    color: #e51937;
}

.text-blue{
    color: #003a63;
}

.text-white{
    color: #fff;
}


.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    color: black;
    margin: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card .container {
    padding: 2px 16px;
}

.hu-grid .box{
    width: 33.333%;
    margin: 0;
    float:left;
    transition: 0.3s;
    position: relative;
    height: 300px;
    background: #001E32;
    overflow: hidden;
}

.hu-grid .box .container{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background: rgba(0, 58, 99, 0.2);
    bottom: 0px;
}

.hu-grid{
    margin-top:100px;
    margin-bottom: 800px;
}

.hu-grid .box img{
    width: 100%;
    margin: auto;
}

.hu-grid .box:hover:{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.hu-grid .blue .container{
    background:  background: rgba(0, 58, 99, 0.83);
}

.hu-grid .container:hover{
    background: rgba(0, 58, 99, 0.9);
}

.hu-grid .container:hover p{
    display: block;
}

.hu-grid .container:hover h3{
    background: #fff;
    color: #001E32;
}

.hu-grid .container h3{
    position: absolute;
    bottom: 10px;
    text-align: left;
    color: white;
    background: #001E32;
    padding: 10px;
}

.hu-grid .container p{
    padding: 10px;
    color: white;
    font-weight: 200;
    display: none;
    letter-spacing: 1.5px;
}



@media (max-width: 1000px){
    .hu-grid .box{
        width:50%;
    }
}

@media (max-width: 600px){
    .hu-grid .box{
        width:100%;
    }
}

.footer-section{
    padding: 50px;
    background: #001E32;
    color: #fff;
}

.footer-section ul{
    list-style-type: none;
}

.footer-section a{
    color: aliceblue;
}

.footer-section .arrow a{
    margin: -5px;
}

.footer-section .arrow a:before{
    content: "\f105";
    font-family: FontAwesome;
    padding: 5px;
}

.footer-section h2{
    font-size: 25px;
}

.article-section{
    padding: 75px;
    background:  #white;
    color: #001E32;
}

.article-section .date{
    font-size: 14px;
    font-style: italic;
    color: #e51937;
    text-decoration-style: wavy;
}

.article-section p{
    margin: 15px 0 20px;
    color: #404040;
}


@media (max-width: 1000px){
    .section, .article-section {
        padding: 10px;
    }
    
    .section h1{
        font-size: 30px;
    }
}
/*****************---Section at the top of each page-------***********/
.header-section{
    padding: 200px 200px 110px 50px;
    text-align: center;
}

.header-section h1{
    font-size: 50px;
}

/*****************---Section inside each page-------***********/
.page-section{
    color: #000;
    padding: 100px 200px 50px 50px;
}

.page-section p{
    color: #404040;
}

/*****************---BUTTONS-------***********/
.btn{
    border: 0;
    letter-spacing: 2px;
    font-weight: normal;
    
}

/* Sweep To Right */
.btn.btn-primary {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background:  #001E32;
 
}

.btn.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e51937;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn.btn-primary:hover, .btn.btn-primary.animate:focus, .btn.btn-primary.animate:active {
  color: white;
}

.btn.btn-primary:hover:before, .btn.btn-primary.animate:focus:before, .btn.btn-primary.animate:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*********card********/
.card{
    padding: 50px;
    opacity: .95;
    color: #000;
}



.card h1{
    font-size:40px;
    margin-bottom: 20px;
}
.card p{
    font-size: 18px;
    line-height: 25px;
    
}
/*********quote********/
.quote img{
    border-radius: 50%;
     border:4px solid #fff;
    margin: auto;
}

.quote h3{
    text-align: center;
}

.quote p{
    font-size: 25px;
    font-style: italic;
    line-height: 35px;
}

.quote p:before{
    font-family: FontAwesome;
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #fff;
}
    
