@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/*----Section Styling ----*/
.section {
    padding: 150px;
}


.section.red {
    background: #e51937;
    color: #fff;
}

.section.blue{
    background: #001E32;
    color: #fff;
}



.section.white{
    color: #003a63;
}

.section.grey{
    background: #5f6062;
    color: white;
}

.lead {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

#lead:before, #lead:after {
  font-family: "Some cool font with glyphs", serif;
  content: "\";  /* Some fancy character */
  color: #c83f3f;
}

.section  h1{
    margin-bottom: 40px;
    font-weight: 200px;
}


.section p{
    font-size: 16px;
    font-weight: 100px;
}

.text-red{
    color: #e51937;
}

.text-blue{
    color: #003a63;
}

.text-white{
    color: #fff;
}


.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    color: #003a63;
    margin: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card .container {
    padding: 2px 16px;
}

/*********Styling for our grid box ********/
.hu-grid .box{
    width: 33.333%;
    margin: 0;
    float:left;
    transition: 0.3s;
    position: relative;
    height: 300px;
    background: #001E32;
    overflow: hidden;
}

.hu-grid .box .container{
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    text-align: center;
        height: 100%;
    transition-duration: .4s;
}

.hu-grid{
    margin-top:100px;
    margin-bottom: 800px;
    position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}



.hu-grid .box img{
    width: 100%;
    margin: auto;
}

hu-grid .box{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}


.hu-grid .box:hover:{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}


.hu-grid .container:hover h3{
    background: #fff;
    color: #001E32;
    display: block;
    text-align: center;
}

.hu-grid .container h3{
    position: absolute;
    bottom: 30%;
    text-align: center;
    color: white;
    background: #001E32;
    padding: 10px;
    display: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.hu-grid .container p{
    padding: 10px;
    color: white;
    font-weight: 200;
    display: none;
    letter-spacing: 1.5px;
}



@media (max-width: 1000px){
    .hu-grid .box{
        width:50%;
    }
}

@media (max-width: 600px){
    .hu-grid .box{
        width:100%;
    }
}

/*****footer ********/

.footer-section{
    padding: 100px;
    background: #001E32;
    color: #fff;
} 

/*001E32 */
.footer-section ul{
    list-style-type: none;
}

.footer-section a{
    color: aliceblue;
}

.footer-section .arrow a{
    margin: -5px;
}

.footer-section .arrow a:before{
    content: "\f105";
    font-family: FontAwesome;
    padding: 5px;
}

.footer-section h2{
    font-size: 25px;
}

.article-section{
    padding: 75px;
    background:  #white;
    color: #001E32;
}

.article-section .date{
    font-size: 14px;
    font-style: italic;
    color: #e51937;
    text-decoration-style: wavy;
}

.article-section p{
    margin: 15px 0 20px;
    color: #404040;
}


@media (max-width: 1000px){
    .section, .article-section {
        padding: 10px;
    }
    
    .section h1{
        font-size: 30px;
    }
}
/*****************---Section at the top of each page-------***********/
.header-section{
    padding: 200px 200px 110px 50px;
    text-align: center;
}

.header-section h1{
    font-size: 50px;
}



/*****************---BUTTONS-------***********/
.btn{
    border: 0;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100px;
}

/* Sweep To Right */
.btn.btn-primary {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background:  #001E32;
  border-radius: 0;
 
}

.btn.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e51937;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn.btn-primary:hover, .btn.btn-primary.animate:focus, .btn.btn-primary.animate:active {
  color: white;
}

.btn.btn-primary:hover:before, .btn.btn-primary.animate:focus:before, .btn.btn-primary.animate:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*********card********/
.card{
    padding: 50px;
    opacity: .95;
    color: #003a63;
}



.card h1{
    font-size:40px;
    margin-bottom: 20px;
}
.card p{
    font-size: 22px;
    line-height: 25px;
    
}
/*********quote********/
.quote img{
    border-radius: 50%;
     border:4px solid #fff;
    margin: auto;
}

.quote h3{
    text-align: center;
}

.quote p{
    font-size: 25px;
    font-style: italic;
    line-height: 35px;
}

.quote p:before{
    font-family: FontAwesome;
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #fff;
}
    

 /*wheelDiv Insert generated CSS code from here -> http://pmg.softwaretailoring.net */
#piemenu > svg { width: 100%; height: 100%; }
#piemenu { height: 400px; width: 400px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }
[class|=wheelnav-piemenu] {
    stroke: none;
    stroke-width: 2px;
    cursor: pointer;
    font-family: FontAwesome;
}

[class|=wheelnav-piemenu-slice-basic] { fill: #2a6ebb; stroke-width=3; }
[class|=wheelnav-piemenu-slice-selected] { fill: #fff; stroke: "white"; }
[class|=wheelnav-piemenu-slice-hover] { fill: #fff; color: #003a63; }

[class|=wheelnav-piemenu-title-basic] { fill: #fff; stroke: "white"; }
[class|=wheelnav-piemenu-title-selected] { fill: #003a63; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: #003a63; stroke: none; cursor: pointer; }
[class|=wheelnav-piemenu-title] > tspan { font-family: Impact, Charcoal, sans-serif; font-size: 24px; }

.wheelnav-piemenu-marker { stroke: #fff; stroke-width: 5; }

.major {
    display: none;
}
.major.active{
    display: block;
}

/********_-----_____regular page stuff ********/
.page-section h1{
    font-size: 34px;
    font-weight: 300px;
    padding: 0px 0 25px;
    font-family: 'Roboto', sans-serif;
}

/*****************---Section inside each page-------***********/
.page-section{
    color: #000;
    padding: 100px 75px 50px 75px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: 500px;
    background: #fff;
}



.page-section .intro {
    font-size: 20px;
    font-weight: 400;
    padding: 15px 0 20px;
    font-family: 'Playfair Display', serif;
}

.page-section .header{
    font-weight: 500;
    font-size: 18px;
    padding: 25px 0 10px;
}

.page-section p{
    color: #404040;
    font-size: 16px;
    line-height: 1.5em;
}

.main-logo{
    width: 25%;
    padding: 30px;
    background: #001E32;
}

.bs-header{
    position: fixed;
    border: solid;
    border-width: 20px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: #001E32;
    top: 0;
    z-index: -1000;
    padding: 0px 50px 100px 100px;
    background:#ebebeb;
    margin-bottom: 60px;
    width: 100%;
    height: 500px;
    color: #fff;
    background: /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 58, 99, 0.5), 
      rgba(0, 58, 99, 0.5)
    ), url('../images/components/dot-matrix.png');

}



.bs-header h1{
    margin-top: 100px;
    font-size: 50px;
    padding: 20px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.bs-header p{
    padding: 10px;
    font-style: italic;
    font-size: 22px;
    font-family: 'Playfair Display', serif !important;
    font-weight: 200;
}

.bs-header-img{
    position: fixed;
    top: 0;
    z-index: -1001;
    width: 100%;
}

/******note*******/

.spotlight img{
    margin-bottom: 0;
    width: 100%;
    margin-bottom: -20%;
}

.spotlight.note {
    position: relative;
    position: absolute;
}

.note {
  position: relative;
  color: #fff;
  padding: 1em 1.5em;
  margin: 2em auto;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
}

.note p{
    color: #fff;
}
.note.red{
  background: #e51937;  
}

.note.red:before{
  border-color: #eb4760 transparent;
}

.note.blue{
  background: #003a63;  
}

.note.blue:before{
  border-color: #2a6ebb #fff;
}

.note.light-blue{
  background: #2a6ebb;  
}

.note.light-blue:before{
  border-color: #003a63 #fff;
}
/********************/
.faculty-profile{
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.faculty-profile img{
    float: left;
    margin-right: 10px;
}
.details{
    padding: 10px;
    padding-top: 0px;
    
}

.details h3{
    font-size: 18px;
    font-family: 'Playfair Display', serif !important;
    font-weight: 200;
    color: #333333;
}

.details p{
    font-size: 10px;
    line-height: 16px;
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: .8;
    text-transform: uppercase;
    color: #999999;
}

.basic-link {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-family: 'Playfair Display', cursive;
}

.basic-link:hover, .basic-link:focus{
    text-decoration: none;
    color: #001E32;
}

/*********faculty page menu ****/
.faculty-menu li{
    padding: 5px 0;
    display: block;
    border-top: 1px solid #326182;
    transition-duration: .2s;
    background: #f2f6fc
;
}

.faculty-menu a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding-left: 5px;
    display:block;
}

.faculty-menu li:hover{
    padding-left: 15px;
    background: #d5e4f6;
    cursor: pointer; 
}


/*-----------------*/
/***** Apollo *****/
/*-----------------*/

figure.effect-apollo {
	background: #3498db;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
	position: absolute;
	bottom: 0;
	padding: 1em;
	max-width: 80%;
	border-left: 4px solid #e51937;
    color: #000;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    background: #fff;
}

figure.effect-apollo p a{
	font-style: italic;
    text-decoration: none;
    font-size: 15px;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
