@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/*----Section Styling ----*/
.section {
    padding: 150px;
}

.section.white{
    background: #fff;
    color: #000;
}

.section.red {
    background: #e51937;
    color: #fff;
}

.section a{
    font-weight: bold;
}

.section.blue{
    background: #001E32;
    color: #fff;
}



.section.white{
    color: #003a63;
}

.section.grey{
    background: #5f6062;
    color: white;
}

.lead {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

#lead:before, #lead:after {
  font-family: "Some cool font with glyphs", serif;
  content: "\";  /* Some fancy character */
  color: #c83f3f;
}

.section  h1{
    margin-bottom: 40px;
    font-weight: 200px;
}


.section p{
    font-size: 16px;
    font-weight: 100px;
}

.text-red{
    color: #e51937;
}

.text-blue{
    color: #003a63;
}

.text-white{
    color: #fff;
}


.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: alias;
}

/*********card********/
.card{
    padding: 50px;
    opacity: .95;
    color: #003a63;
}

.card h1{
    font-size:40px;
    margin-bottom: 20px;
}
.card p{
    font-size: 22px;
    line-height: 25px;   
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    color: #003a63;
    margin: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card .container {
    padding: 2px 16px;
}

.card.bic{
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
}
@media (max-width: 600px){
    .card.bic{
        display: none;
    }
}
@media (max-width: 600px){
    .fluff{
        display: none;
    }
}
.abs{
    position: relative;
}
/*********Styling for our grid box ********/
.hu-grid .box{
    width: 33.333%;
    margin: 0;
    float:left;
    transition: 0.3s;
    position: relative;
    height: 300px;
    background: #001E32;
    overflow: hidden;
}

.hu-grid .box .container{
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    text-align: center;
        height: 100%;
    transition-duration: .4s;
}

.hu-grid{
    margin-top:100px;
    margin-bottom: 800px;
    position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}



.hu-grid .box img{
    width: 100%;
    margin: auto;
}

hu-grid .box{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}


.hu-grid .box:hover:{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}


.hu-grid .container:hover h3{
    background: #fff;
    color: #001E32;
    display: block;
    text-align: center;
}

.hu-grid .container h3{
    position: absolute;
    bottom: 30%;
    text-align: center;
    color: white;
    background: #001E32;
    padding: 10px;
    display: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.hu-grid .container p{
    padding: 10px;
    color: white;
    font-weight: 200;
    display: none;
    letter-spacing: 1.5px;
}



@media (max-width: 1000px){
    .hu-grid .box{
        width:50%;
    }
}

@media (max-width: 600px){
    .hu-grid .box{
        width:100%;
    }
}

/*****footer ********/

.footer-section{
    padding: 75px 50px 100px 50px;
    background: #001E32;
} 

/*001E32 */
.footer-section ul {
    list-style-type: none;
    text-transform: uppercase;
}

.footer-section a{
    color: #DCDCD7;
    font-weight: 300;
    font-size: 15px;
} 

.footer-section a:hover, .footer-section a:focus {
  background: #none;
  color: #ffffff;
  text-decoration: none; 
}



.footer-section h2{
    font: 800;
    font-size: 20px;  
    font-style: normal; 
    color: #fff;
}  

.footer-section .bottom{
    text-align: center;
    padding-top: 50px;
}

.footer-section .bottom a{
    color: #fff;
    font-size: 11px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px #fff;
}

.footer-section .bottom a:last-child {
    color: #e51937;
    border-right: none;
    font-weight: bold;
}

address{
    color: gainsboro;
}

.article-section{
    padding: 75px;
    background:  #white;
    color: #001E32;
}

.article-section h1{
    font-size: 25px;
}

.article-section img{
    height: 200px;
}

.article-section .date{
    font-size: 14px;
    font-style: italic;
    color: #e51937;
    text-decoration-style: wavy;
}

.article-section p{
    margin: 15px 0 20px;
    color: #404040;
} 

.article{
    padding: 30px;
}

.article-section .story{
    padding: 30px;
}


@media (max-width: 1000px){
    .section, .article-section {
        padding: 10px;
    }
    
    .section h1{
        font-size: 30px;
    }
}
/*****************---Section at the top of each page-------***********/
.header-section{
    padding: 200px 200px 110px 50px;
    text-align: center;
}

.header-section h1{
    font-size: 50px;
}

/*****************---BUTTONS-------***********/
.btn{
    white-space: normal;
     display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 18px;
      font-size: 15px;
      line-height: 1.42857143;
      border-radius: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
}


.btn-primary {
  color: #ffffff;
  background-color: #2780e3;
  border-color: #2780e3;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #1967be;
  border-color: #10427b;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #1967be;
  border-color: #1862b5;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1967be;
  border-color: #1862b5;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #15569f;
  border-color: #10427b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #2780e3;
  border-color: #2780e3;
}
.btn-primary .badge {
  color: #2780e3;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #3fb618;
  border-color: #3fb618;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #184509;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2c8011;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2c8011;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #24690e;
  border-color: #184509;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #3fb618;
  border-color: #3fb618;
}
.btn-success .badge {
  color: #3fb618;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #9954bb;
  border-color: #9954bb;
}
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #7e3f9d;
  border-color: #522967;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #7e3f9d;
  border-color: #783c96;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #7e3f9d;
  border-color: #783c96;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #6a3484;
  border-color: #522967;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #9954bb;
  border-color: #9954bb;
}
.btn-info .badge {
  color: #9954bb;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #ff7518;
  border-color: #ff7518;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #e45c00;
  border-color: #983d00;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #e45c00;
  border-color: #da5800;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #e45c00;
  border-color: #da5800;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #c04d00;
  border-color: #983d00;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #ff7518;
  border-color: #ff7518;
}
.btn-warning .badge {
  color: #ff7518;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #ff0039;
  border-color: #ff0039;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #cc002e;
  border-color: #80001c;
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #cc002e;
  border-color: #c2002b;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #cc002e;
  border-color: #c2002b;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #a80026;
  border-color: #80001c;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #ff0039;
  border-color: #ff0039;
}
.btn-danger .badge {
  color: #ff0039;
  background-color: #ffffff;
}
.btn-link {
  color: #2780e3;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #165ba8;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 18px 30px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}


.btn:focus {
	outline: none;
}

.btn > span {
	vertical-align: middle;
}

/* Sweep To Right */
.btn.btn-edge {
    float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
    border: 3px solid;
    border-radius: 0px;
    overflow: hidden;
	width: 245px;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    color: #37474f;
	border-color: #001E32;
}

.btn.btn-edge:before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #001E32;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.btn.btn-edge:hover{
    color: #fff;
}
.btn.btn-edge.btn-inverted{
    color: #fff;
    border-color: #fff;
}

.btn.btn-edge.btn-inverted.red:hover{
    color:#e51937;
}
.btn.btn-edge.btn-inverted.blue:hover{
    color:#001E32;
}

.btn.btn-edge.btn-inverted:hover {
	border-color: #fff;
}

.btn.btn-edge:hover:before {
	opacity: 1;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn.btn-edge.btn-inverted:hover::before {
	background-color: #fff;
}


.btn-primary:hover{
    color:#fff;
}

.btn.btn-profile{
    display: block;
    background: none;
	color: #B9B9B9;
	vertical-align: middle;
	position: relative;
    padding: 1em;
    font-weight: bold;
    text-align: left;
}

.btn.btn-profile:hover:before{
    border: 3px solid #000;
}

.btn-profile:hover .btn-profile:focus {
    content: '';
	color: #003a63;
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
	transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* BORDER TRANSITIONS */
/* Border Fade */
.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  color: #2A6EBB;
  box-shadow: inset 0 0 0 4px #2A6EBB, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}


/*********quote********/
.quote img{
    border-radius: 50%;
     border:4px solid #fff;
    margin: auto;
}

.quote h3{
    text-align: center;
}

.quote p{
    font-size: 25px;
    font-style: italic;
    line-height: 35px;
}

.quote p:before{
    font-family: FontAwesome;
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #fff;
}
    

 /*wheelDiv Insert generated CSS code from here -> http://pmg.softwaretailoring.net */
#piemenu > svg { width: 100%; height: 100%; }
#piemenu { height: 400px; width: 400px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }
[class|=wheelnav-piemenu] {
    stroke: none;
    stroke-width: 2px;
    cursor: pointer;
    font-family: FontAwesome;
}

[class|=wheelnav-piemenu-slice-basic] { fill: #2a6ebb; stroke-width=3; }
[class|=wheelnav-piemenu-slice-selected] { fill: #fff; stroke: "white"; }
[class|=wheelnav-piemenu-slice-hover] { fill: #fff; color: #003a63; }

[class|=wheelnav-piemenu-title-basic] { fill: #fff; stroke: "white"; }
[class|=wheelnav-piemenu-title-selected] { fill: #003a63; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: #003a63; stroke: none; cursor: pointer; }
[class|=wheelnav-piemenu-title] > tspan { font-family: Impact, Charcoal, sans-serif; font-size: 24px; }

.wheelnav-piemenu-marker { stroke: #fff; stroke-width: 5; }

.major {
    display: none;
}
.major.active{
    display: block;
}

/********_-----_____regular page stuff ********/
.page-section h1{
    font-size: 34px;
    font-weight: 300px;
    padding: 0px 0 25px;
    font-family: 'Roboto', sans-serif;
}

/*****************---Section inside each page-------***********/
.page-section{
    color: #000;
    padding: 100px 30px 100px 30px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: 500px;
    background: #fff;
}


.content-section{
    color: #000;
    padding: 100px 30px 100px 30px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #fff;
}


.page-section .intro, .content-section .intro {
    font-size: 22px;
    padding: 15px 0 20px;
}

.page-section .header, .content-section .header{
    font-weight: 500;
    font-size: 18px;
    padding: 25px 0 10px;
}

.page-section p, .content-section p{
    color: #404040;
    font-size: 16px;
    line-height: 1.5em;
}

.main-logo{
    width: 25%;
    padding: 30px;
    background: #001E32;
    min-height: 1px;
    top:0;
    left:0;
    position: absolute;
    padding: 30px 30px 30px 30px;
    background: #001E32;
    z-index: 99;
}

.bs-header{
    position: fixed;
    border-top: solid 20px #001E32;
    top: 0;
    z-index: -1000;
    padding: 10% 50px 100px 100px;
    background:#ebebeb;
    margin-bottom: 60px;
    width: 100%;
    height: 500px;
    color: #fff;
    background: /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 58, 99, 0.5), 
      rgba(0, 58, 99, 0.5)
    ), url('../images/components/dot-matrix.png');

}


.bs-header h1{
    margin-top: 100px;
    font-size: 50px;
    padding: 20px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.bs-header p{
    padding: 10px;
    font-style: italic;
    font-size: 22px;
    font-family: 'Playfair Display', serif !important;
    font-weight: 200;
}

.bs-header-img{
    position: fixed;
    top: 0;
    z-index: -1001;
    width: 100%;
}

@media (max-width: 1100px){
    .bs-header-img{
        height: 100%;
        width: auto;
    }
    
    .main-logo{
        width: 35%;
    }
}

@media (max-width: 600px){
     .bs-header-img{
        height: 50%;
        width: auto;
    }
    
    .main-logo{
        width: 70%;
        padding: 10px;
    }
    
    .bs-header{
        position: relative;
        padding: 10px;
        height: 300px;
        margin-bottom: -5px;
    }
    .bs-header h1{
        font-size: 30px;
    }
    .page-section, .content-section{
        padding: 5px;
        margin-top: 5px;
    }
     
}
/******note*******/

.spotlight img{
    margin-bottom: 0;
    width: 100%;
    margin-bottom: -20%;
}

.spotlight.note {
    position: relative;
    position: absolute;
}

.note {
  position: relative;
  color: #fff;
  padding: 1em 1.5em;
  margin: 2em auto;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
}

.note p{
    color: #fff;
}
.note.red{
  background: #e51937;  
}

.note.red:before{
  border-color: #eb4760 #fff;
}

.note.blue{
  background: #003a63;  
}

.note.blue:before{
  border-color: #2a6ebb #fff;
}

.note.light-blue{
  background: #2a6ebb;  
}

.note.light-blue:before{
  border-color: #003a63 #fff;
}

.note a:hover,.note a:focus{
    text-decoration: none;
}

.note a{
    font-style: italic;
}

.speaker{
    font-style: italic;
    line-height: 1.7em;
}
/********************/

.faculty-profile{
  padding: 25px 35px 10px;
  position: relative;
  color: inherit;
  background: #fff;
  height: 320px;
  cursor: pointer;
  text-align: center;
}

.faculty-profile a{
    width: 100%;
    height: 100%;    
}


.faculty-profile:before {
  position: absolute;
  content: '';
  top: 0px;
  right: 10px;
  bottom: 5px;
  left: 10px;
  border: 1px solid rgba(74, 74, 74, 0.075);
}

@media (max-width: 600px){
    .faculty-profile{
        width: 100%;
    }
    
    
}

.faculty-profile:hover:before{ 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  
}

.details{
    padding: 10px;
    padding-top: 0px;
}

.details h3{
    font-size: 18px;
    font-family: 'Playfair Display', serif !important;
    font-weight: 200;
    color: #000;
}

.details p{
    font-size: 10px;
    line-height: 16px;
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: .8;
    text-transform: uppercase;
    color: #999999;
}

.details .role{
    color: #e51937;
}

.basic-link {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-family: 'Playfair Display', cursive;
}

.basic-link:hover, .basic-link:focus{
    text-decoration: none;
    color: #001E32;
}

/*********faculty page menu ****/
.faculty-menu li{
    padding: 5px 0;
    display: block;
    border-top: 1px solid #326182;
    transition-duration: .2s;
    background: #f2f6fc
;
}

.faculty-menu a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding-left: 5px;
    display:block;
}

.faculty-menu li:hover{
    padding-left: 15px;
    background: #d5e4f6;
    cursor: pointer; 
}


/*-----------------*/
/***** Apollo *****/
/*-----------------*/

figure.effect-apollo {
	background: #3498db;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
	position: absolute;
	bottom: 0;
	padding: 1em;
	max-width: 80%;
	border-left: 4px solid #e51937;
    color: #000;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    background: #fff;
}

figure.effect-apollo p a{
	font-style: italic;
    text-decoration: none;
    font-size: 15px;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/*****news******/
.news h1{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

.news p{
    font-weight: 300;
    line-height: 1.7;
    padding-top: 10px;
    font-size: 18px;
}

.label{
    text-transform: uppercase;
    background: #001E32;
    letter-spacing: 1px;
}

.widgettitle{
    border-left-color: #fff;
    margin-bottom: 30px;
    border-left: 6px solid;
    background: #f5f5f5;
    padding: 10px 10px 10px 20px;
    font-size: 18px;
}

.story{
    padding: 5px 0px 20px;
}

.story h2{
    font-family: 'Playfair Display', serif;
}

.story a:hover,.story a:focus{
    text-decoration: none;
}
/*******condensing paragraphs*****/
.morecontent span {
    display: none;
}
a.morelink:hover {

    color: #0254EB;
}
.morelink:visited .morelink:focus {
    color: #0254EB!important;
    text-decoration: none;
}
/*******breadcrumps*****/
 .breadcrumb{
    background: none;
    margin-left: 50px;
}

.breadcrumb a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/********parallax**********/
.parallax-content {
    padding: 300px 100px 50px 100px;
    position: relative;
}

.parallax-content h1{
    font-size: 5.625rem;
    font-weight: 800;
}
.parallax-content p{

}


.identity-stripe .logo-tab{
    width: 23.125%;
    min-height: 1px;
    margin-right: 0;
    position: absolute;
    padding: 30px 30px 30px 30px;
    background: #001E32;
    z-index: 99;
}

.logo-tab img{
    width:100%;
}

.top-bar{
    background: #001E32;
    height: 15px;
}


.content-section{
    padding: 75px;
}

@media (max-width: 600px){
    .parallax-content {
        padding: 100px 20px 50px 20px;
    }
    .content-section{
        padding: 20px;
    }
    
    .parallax-box{
        height: 500px;
        position: relative;
    }
    
    .identity-stripe .logo-tab{
        width: 70%;
        padding: 10px;
    }
}


.column-title{
    font-weight: 800;
    border-left: solid 3px #fff;
    padding: 0px 0px 0px 20px;
    margin: 50px 0px 30px;
}

.arrow ul{
    list-style-type: none;
}

.arrow li{
    margin-bottom: 0;
    list-style: none;
    position: relative;
    border: none;
    padding: 0;
}

.arrow li:before {    
    font-family: 'FontAwesome';
    content: '\f0da';
    margin:0 10px 0px -18px;
    }

.arrow li > a{
    color: #abc9ed;
}

.arrow li > a:hover,.arrow li > a:focus{
    text-decoration: none;
}



/*********publications ************/
.publication{
    margin-bottom: 30px;
}

.publication a{
    color: #001E32;
}

.publication a:hover, .publication a:focus{
    text-decoration: none;
}

.publication img{
    height: 380px
}

/***** member ******/
.member{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 80px;
}
.member p{
    font-size: 12px;
    margin: 2px;
}
/***** hover-row *****/
.hover-box{
    background: #fff;
    margin: 0;
}


.hover-box > div:nth-of-type(even) {
    background: #eaf1fb;
}

.hover-box .h-row{
    background: #fff;
    transition-duration: .5s;
    padding: 40px 10px 40px; 10px;
}

.hover-box .h-title{
    background: #003a63;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

.hover-box .h-row:hover{
    background: #abc9ed;
}

.hover-box .h-row .h-left{
    text-align: left;
    letter-spacing: 1px;
}

.hover-box .h-row .h-right p{
    font-size: 15px;
    font-weight: 100px;
    color: #000;
    letter-spacing: 1px;
}

.page-section.no-padding{
    padding: 0px!important;
}

.hover-box .row{
    margin-right: 0px!important;
}

.logos{
    position: relative;
}
.logos img{
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}

.creds{
    margin-top: 10px;
    background: #fff;
    padding: 3px;
    text-align: center;
}
.creds img{
    padding: 3px;
    background: #fff;
    display: inline;
}