@charset  "utf-8";


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #999;
    line-height: 30px;
}

#navigation {
    width: 100%;
    margin-left: auto;
    margin-bottom: auto;
    position: absolute;
    z-index: 99999;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 768px) {
    .hero-section {
        height: 500px;
    }
}

.grid-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    background-image: url(../images/grid.png);
}

.hero-section .video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.hero-section .hero-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    background-image: url(../images/grid.png);
}

.hero-section .introduction {
    padding: 15px;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
}

@media (max-width: 768px) {
    .hero-section .hero-media {
        display: none;
    }
}

.hero-section .no-hero-vid {
    background-image: url(../images/slider1.jpg);
    background-position: center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}


@media (max-width: 485px) {
    .hero-section .introduction {
        width: 100%;
        position: relative;
        margin: auto;
    }
    .hero-section .introduction img {
        position: absolute;
        top: 150px;
        transform: translateY(-50%);
        margin: auto;
    }
}

.hero-section .introduction p.header {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    color: #fff;
    text-shadow: rgba(33,33,33,0.5) 1px 1px 3px;
    font-size: 75px;
    font-weight: 700;
    font-style: italic;
    line-height: 64px;
    font-family: 'Roboto Condensed',sans-serif;
    margin: 0;
}


.hero-section .introduction p.header span {
    color: #1ef0f2;
}

.hero-section .introduction p.sub-header {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    color: #fff;
    text-shadow: rgba(33,33,33,0.5) 1px 1px 3px;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 64px;
    font-family: 'Roboto Condensed',sans-serif;
}

@media (max-width: 485px) {
    .hero-section .introduction p.header {
        font-size: 50px;
    }
}

@media (max-width: 485px) {
    .hero-section .introduction p.sub-header {
        font-size: 30px;
    }
}

.hero-section .hero-button {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    background-color: #3b5998;
    border-radius: 3px;
    color: #fff;
    display: block;
    padding: 10px 30px;
    max-width: 300px;
    margin: 0 auto;
    font-size: 18px;
}

.hero-section .hero-button .fa {
    margin-right: 5px;
}

.hero-section .hero-button:hover {
    background-color: #2d4373;
}

.hero-section .learn-more {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    bottom: 0;
    padding-top: 0;
    height: 90px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    overflow: hidden;
    position: absolute;
    z-index: 5;
}



.parallax {
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
    color: white;
}


.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    text-indent: -9999px;
    background-color: #0495db;
    background-image: url(../images/to-top.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999997;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.scrollup:hover {
    opacity: .9;
}


.panel-heading {
    cursor: pointer;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
