<footer class="footer-section" id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div>
                        <h2>Programs</h2>
                        <ul class="arrow">
                            <li>
                                <a href="/undergraduate/programs/">Undergraduate Programs</a>
                            </li>
                            <li>
                                <a href="/mba">MBA Program</a>
                            </li>
                            <li>
                                <a href="/emba">Executive MBA</a>
                            </li>
                            <li>
                                <a href="/undergraduate/programs/special_programs.html">Special Programs</a>
                            </li>
                            <li>
                                <a href="/undergraduate/programs/special_summer.html">Summer Programs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div>
                    <h2>Faculty & Research</h2>
                    <ul class="arrow">
                        <li>
                            <a href="/undergraduate/departments/">Academic Departments</a>
                        </li>
                        <li>
                            <a href="/go/centers/">Centers</a>
                        </li>
                        <li>
                            <a href="/go/faculty/directory.html">Faculty Directory</a>
                        </li>
                        <li>
                            <a href="/go/info/research.html">Research & Insights</a>
                        </li>
                    </ul><br>
                    <br>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div>
                        <h2>Info for</h2>
                        <ul class="arrow">
                            <li>
                                <a href="/go/centers/https://www.huccenet.com">Recruiters</a>
                            </li>
                            <li>
                                <a href="http://www.howard.edu/advancement/give/">Alumni</a>
                            </li>
                            <li>
                                <a href="/undergraduate/programs/">Current Students</a>
                            </li>
                            <li>
                                <a href="/go/faculty/directory.html">Faculty &amp; Staff</a>
                            </li>
                            <li>
                                <a href="http://www2.howard.edu/admission">Prospective Students</a>
                            </li>
                            <li>
                                <a href="http://www2.howard.edu/contact/visit">Parents</a>
                            </li>
                            <li>
                                <a href="http://www2.howard.edu/news-and-events">Media</a>
                            </li>
                            <li>
                                <a href="/go/info/donors.html">Donors</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h2>Contact us</h2>
                        <address>
                            <p>2600 6th St NW<br>
                            Washington, DC 20059<br>
                            202-806-1500<br>
                            <a href="mailto:BusinessDean@howard.edu">BusinessDean@howard.edu</a></p>
                        </address>
                        <ul class="social-icons light-color squared social-hover">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/HowardHUSB?ref=hl" target="_blank" title="facebook"><i class="icon-glyph-320"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="%20https://twitter.com/howardhusb" target="_blank" title="twitter"><i class="icon-glyph-339"></i></a>
                            </li>
                            <li>
                                <a class="gplus" href="https://www.linkedin.com/edu/school?id=162185&trk=edu-up-nav-menu-home" target="_blank" title="gplus"><i class="icon-glyph-308"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 hidden-sm text-center">
                    <div class="footer-widget"><img alt="Howard School of Business Logo" class="img-responsive" src=
                    "http://res.cloudinary.com/howard-bschool/image/upload/v1443929121/bschool-logo_f3o1kf.png"></div>
                </div>
            </div>
        </div>
    </footer><!-- / footer -->