<footer class="footer-section"  >
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu" >
                <div>
                    <h2>Programs</h2> 
                     <a href="/undergraduate/programs/">Undergraduate Programs</a> <br>
                     <a href="/mba">MBA Program</a> <br>
                     <a href="/emba">Executive MBA</a> <br>
                     <a href="/undergraduate/programs/special_programs.html">Special Programs</a> <br>
                     <a href="/undergraduate/programs/special_summer.html">Summer Programs</a><br>

                </div>
            </div>
            <div class="col-sm-3 menu">
                <div>
                <h2>Faculty & Research</h2> 
                    <a href="/undergraduate/departments/">Academic Departments</a>  <br>
                    <a href="/go/centers/">Centers</a>  <br>
                    <a href="/go/faculty/directory.html">Faculty Directory</a> <br>
                    <a href="/go/info/research.html">Research & Insights</a>

                <br>
                <br>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <h2>Info for</h2>
                     <a href="http://www.howard.edu/advancement/give/">Alumni</a> <br>
                     <a href="/undergraduate/programs/">Current Students</a> <br>
                     <a href="/go/faculty/directory.html">Faculty &amp; Staff</a><br>
                     <a href="http://www2.howard.edu/admission">Prospective Students</a><br> 
                    <a href="/go/info/donors.html">Donors</a><br> 
                </div>
            </div>
            <div class="col-sm-3 menu">
                <div class="footer-widget" id = "footer-white">
                    <h2>Contact us</h2>
                    <address>
                        <p>2600 6th St NW<br>
                        Washington, DC 20059<br>
                        202-806-1500<br>
                        <a href="mailto:BusinessDean@howard.edu">BusinessDean@howard.edu</a></p>
                    </address>
                    <ul class="social-icons light-color squared social-hover">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/HowardHUSB?ref=hl" target="_blank" title="facebook"><i class="icon-glyph-320"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="%20https://twitter.com/howardhusb" target="_blank" title="twitter"><i class="icon-glyph-339"></i></a>
                        </li>
                        <li>
                            <a class="gplus" href="https://www.linkedin.com/edu/school?id=162185&trk=edu-up-nav-menu-home" target="_blank" title="gplus"><i class="icon-glyph-308"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 hidden-sm text-center">
                <div class="footer-widget"><img alt="Howard School of Business Logo" class="img-responsive" src="[pre]images/howard_logo.png"></div>
            </div>
        </div>
        <div class="bottom">
            <a href="#" title="Copyright 2017 Howard University School of Business" class="active">Copyright 2017</a>
            <a href="#" title="">Site Map</a></li>
            <a href="#" title="">Search</a></li>
            <a href="#" title="">Disclaimer</a>
            <a href="#" title="">Give</a>
            <a href="#" title="">Web Team @Howard School of Business</a>
        </div>
    </div>
</footer><!-- / footer -->