        <div class="responsive-tab">
            <a class="hamburger" href="#menu" onclick="openNav(this)" role="button" title="Open Menu"><i aria-label="Open Menu" class="fa fa-fw fa-bars"></i><span class="icon-fallback"></span></a>
        </div>
        <div class="little-tab">
            <a class="hamburger" href="#menu" onclick="openNav(this)" role="button" title="Open Menu"><i aria-label="Open Menu" class="fa fa-fw fa-bars"></i><span class="icon-fallback"></span></a>
        </div>
        <div class="side-tabs">
            <ul aria-describedby="aria-description-tablist" class="main-menu" id="menu" role="tablist">
                <li style="list-style: none; display: inline">
                    <p class="hide" id="aria-description-tablist">Tabs in this tab group open the tab panel widget in a dialog. Once a tab is interacted with, press the escape key to exit the dialog
                    and return to the page content.</p>
                </li>
                <li class="tab" onclick="openNav(this)" role="presentation">
                    <a aria-controls="tabpanel-menu" href="#menu" id="tab-menu" role="tab"><i aria-hidden="true" class="fa fa-fw fa-bars" ></i>Menu</a>
                </li>
                <li class="tab" onclick="openNav(this)" role="presentation">
                    <a aria-controls="tabpanel-search" href="#search" id="tab-search" role="tab"><i aria-hidden="true" class="fa fa-fw fa-search" ></i>Search</a>
                </li>
                <li class="tab" onclick="openNav(this)" role="presentation">
                    <a aria-controls="tabpanel-news-events" href="#" id="tab-news-events" role="tab"><i aria-hidden="true" class="fa fa-fw fa-calendar"></i>News &amp; Events</a>
                </li>
            </ul>
            <ul class="actions">
                <li class="parent-level">
                    <a class="destination" href="#" title="Apply">Apply</a>
                </li>
                <li class="parent-level">
                    <a class="destination" href="#" title="Visit">Visit</a>
                </li>
                <li class="parent-level">
                    <a class="destination" href="#" title="Donate">Donate</a>
                </li>
            </ul><!-- </div> -->
        </div>