<div class="" id="cover"></div>
<div class="sidenav" id="mySidenav">
        <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
        <div class="responsive-buttons">
            <a class="btn btn-default btn-block" href="#" title="Apply">Apply</a>
            <a class="btn btn-default btn-block" href="#" title="Visit">Visit</a>
            <a class="btn btn-default btn-block" href="#" title="Donate">Donate</a>
        </div>
        <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" id="headingOne" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button">About Us</a></h4>
                </div>
                <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Message from the Dean</a>
                            </li>
                            <li>
                                <a href="#">History</a>
                            </li>
                            <li>
                                <a href="#">Board of Visitors</a>
                            </li>
                            <li>
                                <a href="#">Noteable Alumni</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Calendar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingTwo" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role=
                    "button">Academics</a></h4>
                </div>
                <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Undergraduate</a>
                            </li>
                            <li>
                                <a href="#">MBA</a>
                            </li>
                            <li>
                                <a href="#">Masters' Programs</a>
                            </li>
                            <li>
                                <a href="#">EMBA</a>
                            </li>
                            <li>
                                <a href="#">Executive Education</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingThree" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role=
                    "button">Departments</a></h4>
                </div>
                <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Accounting</a>
                            </li>
                            <li>
                                <a href="#">Finance & International Business</a>
                            </li>
                            <li>
                                <a href="#">Information Systems & Supply Chain Management</a>
                            </li>
                            <li>
                                <a href="#">Management</a>
                            </li>
                            <li>
                                <a href="#">Marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingFour" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role=
                    "button">Special Programs</a></h4>
                </div>
                <div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">21st Century Advantage Program</a>
                            </li>
                            <li>
                                <a href="#">Excecutive Leadership Honors Program</a>
                            </li>
                            <li>
                                <a href="#">Summer Programs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingFive" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive" role=
                    "button">Faculty & Research</a></h4>
                </div>
                <div aria-labelledby="headingFive" class="panel-collapse collapse" id="collapseFive" role="tabpanel">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Faculty Directory</a>
                            </li>
                            <li>
                                <a href="#">Bottom Line</a>
                            </li>
                            <li>
                                <a href="#">Centers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="single-links">
            <ul>
                <li><a href="#">For Prospective Students</a></li>
                <li><a href="#">For Parents</a></li>
                <li><a href="#">For Almuni</a></li>
                <li><a href="#">For News Media</a></li>
                <li><a href="#">For Corporate Partners</a></li>
                <li><a href="#">Maps &amp; Directions</a></li>
            </ul> 
        </div>
    
    </div>