
        <div class="container">
            <div class="sub-nav">
            <form action="[pre]search.html">
                 <input type="text" name="q" id="tipue_search_input" autocomplete="off" class="navInput" placeholder="Search..." required><br>
                 <input type="submit" value="Search" id="search" class="navSubmit">
            </form>
            
                <h4>Common Searches</h4>
                <ul>
                    <li><a href="[pre]go/undergraduate/departments/index.html">What majors and concentrations are offered?</a></li>
                    <li><a href="[pre]/go/graduate/mba/index.html">What MBA programs are offered?</a></li>
                    <!---<li><a href="#">What financial aid packages are available?</a></li> -->
                    <li><a href="[pre]/go/undergraduate/current_students/index.html">Where can I find my course scheme?</a></li>
                    <li><a href="[pre]/go/special_programs/21cap.html">What is the 21 CAP Program?</a></li> 
                    <li><a href="[pre]/go/special_programs/sbel.html">What is the SBEL program?</a></li>   
                    
                    
                    
                </ul>
            </div>
        </div>
