
        <div class="container">
            <div class="sub-nav media" >
                <h4>Recent news</h4>
                <ul>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="image"><img src="[pre]images/backgrounds/1.jpg" class="img-responsive"></div>
                                <div class="headline">Greer Roberts First Howard University Schwarzman Scholarship Recipient</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="image"><img src="[pre]images/backgrounds/1.jpg" class="img-responsive"></div>
                                <div class="headline">School of Business wraps up Global Trilateral MBA US conference. </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="image"><img src="[pre]images/backgrounds/1.jpg" class="img-responsive"></div>
                                <div class="headline">Howard business students travel to India as part of their studies on Management Organization in business.</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
