
        <div class="container">
            <div class="sub-nav media" >
                <h4>Recent news & events</h4>
                <ul>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="headline"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>Greer Roberts First Howard University Schwarzman Scholarship Recipient</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="headline"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>School of Business wraps up Global Trilateral MBA US conference. </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="headline"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>Howard business students travel to India as part of their studies on Management Organization in business.</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="headline"><i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>January 27 : 21 CAP - Dean's Team Leader Retreat</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="headline"><i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>March 30 : Howard University School of Business Marketing Summit </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="row">
                                <div class="headline"><i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>April 6-7 : 21 CAP - Parents Weekend </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
