
<div class="responsive-buttons">
    <a class="btn btn-default btn-block" href="https://www2.howard.edu/admission" target="_blank" title="Apply">Apply</a>
    <a class="btn btn-default btn-block" href="https://www2.howard.edu/contact/visit" target="_blank" title="Visit">Visit</a>
    <a class="btn btn-default btn-block" href="#" title="Donate" target="_blank">Donate</a>
</div>
<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
            <h4 class="panel-title"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button">About Us</a></h4>
        </div>
        <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="[pre]go/about/history.html">History</a>
                    </li>
                    <li>
                        <a href="[pre]go/about/message_from_the_dean.html">Message from the Dean</a>
                    </li>
                    <li>
                        <a href="[pre]go/about/faculty">Faculty and Staff</a>
                    </li>
                    <li>
                        <a href="[pre]go/about/board_of_visitors.html">Board of Visitors</a>
                    </li>
                    <!----li>
                        <a href="[pre]go/about/notable_alumni.html">Noteable Alumni</a>
                    </li---->
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo" role="tab">
            <h4 class="panel-title"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role=
            "button">Undergraduate</a></h4>
        </div>
        <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="[pre]go/undergraduate/departments">Departments</a>
                    </li>
                    <li>
                        <a href="[pre]go/undergraduate/majors">Majors</a>
                    </li>
                    <li>
                        <a href="[pre]go/undergraduate/centers">Centers</a>
                    </li>
                    <!---li>
                        <a href="[pre]go/undergraduate/incoming_students">Prospective Students</a>
                    </li--->
                    <!---li>
                        <a href="[pre]go/undergraduate/study_abroad">Study Abroad</a>
                    </li--->
                    <!-----li>
                        <a href="[pre]go/undergraduate/student_organizations">Student Organizations</a>
                    </li---->
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingThree" role="tab">
            <h4 class="panel-title"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role=
            "button">Graduate</a></h4>
        </div>
        <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="[pre]go/graduate/mba">MBA</a>
                    </li>
                    <li>
                        <a href="[pre]go/graduate/masters/accountancy.html">Master of Accountancy</a>
                    </li>
                    <li>
                        <a href="[pre]go/graduate/masters/finance.html">Master of Finance</a>
                    </li>
                    <li>
                        <a href="http://www.howard-emba.com/" target="_blank">Executive Education</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingFour" role="tab">
            <h4 class="panel-title"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role=
            "button">Student Affairs</a></h4>
        </div>
        <div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="[pre]go/student_affairs/21cap.html">21st Century Advantage Program</a>
                    </li>
                    <li>
                        <a href="[pre]go/student_affairs/current_students">Current Students</a>
                    </li>
                    <li>
                        <a href="[pre]go/student_affairs/sbel.html">Excecutive Leadership Honors Program</a>
                    </li>
                    <li>
                        <a href="[pre]go/student_affairs/summer_camps.html">Summer Programs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingFive" role="tab">
            <h4 class="panel-title"><a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive" role=
            "button">Inside HUSB</a></h4>
        </div>
        <div aria-labelledby="headingFive" class="panel-collapse collapse" id="collapseFive" role="tabpanel">
            <div class="panel-body">
                <ul>
                    <!----li>
                        <a href="[pre]go/inside/research.html">Student and Faculty Research</a>
                    </li---->
                    <li>
                        <a href="[pre]go/inside/bottomline.html">Bottom Line</a>
                    </li>
                    <li>
                        <a href="[pre]go/inside/news">News</a>
                    </li>
                    <!---li>
                        <a href="[pre]go/inside/calendar.html">Calendar</a>
                    </li--->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="single-links">
    <ul>
        <!---li><a href="[pre]go/info/alumni.html">For Prospective Students</a></li--->
        <!----li><a href="[pre]go/info/parents.html">For Parents</a></li------->
        <li><a href="[pre]go/info/donors.html">For Donors</a></li>
        <!---li><a href="[pre]go/info/news_media.html">For News Media</a></li------>
        <!---li><a href="[pre]go/info/corporate_partners.html">For Corporate Partners</a></li---->
        <li><a href="[pre]go/info/maps.html">Maps &amp; Directions</a></li>
    </ul> 
</div>


<div class="social-links">
    <a href="https://www.facebook.com/HowardHUSB?ref=hl" target="_blank">
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/howardhusb" target="_blank">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/edu/school?id=162185&trk=edu-up-nav-menu-home" target="_blank">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>
</div>

