
        <div class="container">
            <div class="sub-nav">
            <form action="[pre]search.html">
                 <input type="text" name="q" id="tipue_search_input" autocomplete="off" class="navInput" placeholder="Search..." required><br>
                 <input type="submit" value="Search" id="search" class="navSubmit">
            </form>
            
                <h4>Common Searches</h4>
                <ul>
                    <li><a href="#">What majors and concentrations are offered?</a></li>
                    <li><a href="#">How much is my tuition?</a></li>
                    <li><a href="#">What financial aid packages are available?</a></li>
                    <li><a href="#">How do I apply?</a></li>
                    <li><a href="#">What can I do as a student at Howard?</a></li>
                </ul>
            </div>
        </div>
