/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:990px;
	height:450px;
}

@media (max-width: 600px){
    .ca-container{
        width: 100%;
    }
    .ca-nav span{
        display: none;
    }
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-more{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	position: absolute;
	bottom: 10px;
	right:20px;
	padding:4px 15px;
	background: none;
	text-align:center;
	color: white;
    text-transform: capitalize;
    border: 1px solid #B8B8B8;
    border-radius: 30px;
}

.ca-more:hover, .ca-more:focus{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    transition-duration: .2s;
}

.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#e51937 url(images/cross2.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:0px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
    border-radius: 4px;
	background-color: #e51937;/* red color*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.ca-item-main .cover{
    width: 100%;
    max-height: 240px;
    overflow-y: hidden;
    border-radius: 4px 4px 0 0;
}

img.scale {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic; 
}

.ca-item .text{
    /*color: #003a63;*/
    color: #fff;
    padding: 20px 30px 20px 30px;
}

.ca-item h3{
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.ca-item h4{
    font-weight: 200;
}

.ca-item p{
    font-size: 16px;
    font-weight: 200px;
    font-family: 'Open Sans', sans-serif;
}


.ca-content-wrapper{
	background:#fff;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:1;
	overflow:hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 13px;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
    color: #535353;
	padding-bottom:0px;
    margin-bottom: 0;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#e51937;
	border-bottom:1px solid #e51937;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
    list-style: none;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#003a63;
	padding:3px 6px;
	font-size:14px;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{  
	width:40px;
	height:80px;
	background:transparent url(images/arrows2.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-50px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:95;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}


